{% load static %}
<style>
  .navbar{
    background-color: #e5be90 !important;
    padding: 10px !important;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

  *{
   font-family: "Rubik", sans-serif !important;
    font-weight: 100 !important;
    font-style: normal !important;
  }

  body{
        align-items:center;
        justify-content:center;
        background-image: url('{% static "images/bg1.jpg" %}');
        background-repeat: no-repeat;
        background-size: cover;
    }

   .tt{
      font-weight: bold !important;

   }

   span {
    font-weight:bold !important;
    margin-right:50px;
   }

</style>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand tt" href="#">Libroasis</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'livres' %}">Livres</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'reservations' %}">Reservations</a>
        </li>

          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'etudiants' %}">Etudiants</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'aboutme' %}">About</a>
        </li>

        <li class="nav-item" style="margin-left: 700px">
          <a class="nav-link" aria-current="page" href="#"> <span> admin </span> </a>
        </li>

      <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'logout' %}">  Déconnexion </a>
        </li>



      </ul>

    </div>
  </div>
</nav>